* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.2);
}
h1 {
  text-align: center;
  margin: 5% 0;
}

.container {
  justify-content: center;
  background: rgb(250, 250, 250);
  display: flex;
  margin: 2% 6%;
  padding: 18px;
  border-radius: 2%;
}

.subTitle {
  color: rgb(52, 52, 248);
  text-align: center;
  font-size: 1.2rem;
  padding: 5px;
}

.result {
  margin: 0 0.5%;
  font-size: 1.2rem;
}
#resultado {
  background-color: rgb(52, 52, 150);
  color: white;
  padding: 0.5%;
}

.minFont {
  font-size: 0.8rem;
  background-color: red;
  border: none;
  border-radius: 5%;
  max-height: 30px;
}
button {
  cursor: pointer;
  padding: 1px;
  background-color: rgb(52, 52, 150);
  color: white;
}

#calcular:hover {
  background-color: rgba(31, 236, 236, 0.5);
  border-radius: 5%;
}

/* mobile large*/
@media screen and (max-width: 960px) {
  .subTitle {
    text-align: center;
  }
  div main {
    display: flex;
    justify-content: center;
    background: rgb(250, 250, 250);
    border-radius: 3%;
  }

  div main h2 {
    display: none;
  }
  .container {
    justify-content: center;
    display: block;
    width: 33vw;
    margin-left: 35vw;
    padding: 5px;
  }
  .result {
    display: block;
    margin: 5px;
    padding: 0;
    width: 30vw;
  }
  .container button {
    margin: 5px;
    padding: 5px;
    border: none;
  }
}
/* mobile*/
@media screen and (max-width: 540px) {
  .container {
    width: 60vw;
    margin-left: 20vw;
  }
  .result {
    margin: 8px;
    width: 50vw;
    padding: 10px;
    border: 2px solid black;
  }
}
