* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.2);
}
h1 {
  text-align: center;
  margin: 5% 0;
}
.container {
  display: flex;
  margin-left: 5%;
}

.subTitle {
  color: rgb(52, 52, 248);
  text-align: start;
  font-size: 1.2rem;
  margin-left: 5%;
  padding: 5px;
}

.result {
  margin: 0 0.5%;
  font-size: 1.2rem;
}
#resultado {
  background-color: rgb(52, 52, 150);
  color: white;
  padding: 0.5%;
}

.minFont {
  font-size: 0.8rem;
  border: solid 2px rgb(225, 50, 50);
  border-radius: 5%;
}
button {
  cursor: pointer;
  padding: 1px;
}

#calcular:hover {
  background-color: rgba(31, 236, 236, 0.5);
  border-radius: 5%;
}

/* mobile*/
@media screen and (max-width: 960px) {
}
